{% extends "bootstrap/base.html" %}
{% block title %}Conversation analysis{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block page_title %} Conversation Analysis {% endblock %}

{% block content %}
<div class="page-header">
        <h1>Panels</h1>
      </div>
      
     {% endblock %}