{% extends "bootstrap/base.html" %}
{% block title %}Conversation analysis{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block page_title %} Conversation Analysis {% endblock %}

{% block content %}
<div class="container">

 <!-- <span> <h5> Human id: </h5> {{ human_id }} </span>
  <span> <h5> Bot id: </h5> {{ bot_id }} </span> -->
  </br>
  <div class="panel-group">

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Send a message</h3>
        </div>
        <div class="panel-body">
          <form method="POST" action="/">
              {{ form.post_message.label }} {{ form.post_message(size=255) }}
              <input type="submit" value="Go">
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Treated messages</h3>
        </div>
        <div class="panel-body">
          {% for message in skilled_messages %}
          <div class="well">
            <span> {{ message['content'] }} </span> </br>
            <span class="label label-success"> Intent:  {{ message['intent'] }} </span>
            <span class="label label-warning"> Confidence:  {{ message['confidence'] }} </span>
            <span class="label label-primary"> Sentiment: {{ message['sentiment'] }} </span>
           </br>

          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">History of the conversation</h3>
        </div>
        <div class="panel-body">
          {% for message in history %}
            <span > <b class="label label-info"> {{ message['sender'] }} :</b> {{ message['content'] }} </span> </br>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>


  <div class="col-sm-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Fallback messages</h3>
      </div>
      <div class="panel-body">
          {% for message in unskilled_messages %}
          <div class="well">
            <span> {{ message['content'] }} </span> </br>
          </div>
          {% endfor %}
      </div>
    </div>
  </div><!-- /.col-sm-4 -->
  
</div>{% endblock %}